{% extends 'home/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
{% if count == 1 %}
<h4>Всего написано {{ count }} статья</h4>
{% elif count > 1 %}
<h4>Написано {{ count }} статьи</h4>
{% else %}
<h4>Нет не единой статьи</h4>
{% endif %}
<hr>
   {% for post in news %}
      <div class="alert alert-light">
        <h1>{{ post.title }}</h1>
        <hr>
        <p>{{ post.text|truncatewords:50 }}</p>
        <hr>
        <div class="row">
          <div>
            <img src="{{ post.auther.profile.img.url }}" alt="{{ post.auther }}" class="user_images">
          </div>
          <div class="mt-2">
            <span class="text-muted">Публикация: {{ post.date|date:'j F Y, время: H:i:s' }}</span>
            <p><b>Автор: </b><mark>{{ post.auther.first_name }}</mark></p>
            <p><b>Категория: </b>{{ post.category }}</p>
          </div>
            <a href="{% url 'news-detail' post.id %}" class="btn btn-outline-dark">Читать дальше</a>
        </div>
      </div>
  {% endfor %}

{% if is_paginated %}
    {% if page_obj.has_previous %}
      <a href="{% url 'home' %}" class="btn btn-outline-dark">Начало</a>
      <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-dark">Предыдущая</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if num == page_obj.number %}
        <button class="btn btn-dark">{{ num }}</button>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a href="?page={{ num }}" class="btn btn-outline-dark">{{ num }}</a>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-dark">Следующая</a>
      <a href="?page={{ page_obj.paginator.num_pages}}" class="btn btn-outline-dark">Последняя</a>
    {% endif %}
  {% endif %}

{% endblock %}

{% block category %}
    <h1 class="my-4">Категории</h1>
    <div class="list-group">
            <a href="{% url 'news-user' user.id %}" class="list-group-item">Все</a>
        {% for category in categories %}
            <a href="{% url 'news-user-category' user.id category.name %}" class="list-group-item">{{ category.name }}</a>
        {% endfor %}
    </div>
{% endblock %}